<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  thank you @Model.name for your purchase 
  
  Address: @Model.address

  Total Price : @Model.price
</body>
</html>